%form{ :action => "/#{@page.name}", :method => 'post', :id => 'edit-page' }
  %label{ :for => 'name' } Name
  %input{ :type => 'text', :name => 'name', :value => @page.name }
  %br/
  %label{ :for => 'content' } Content
  %br/
  %textarea{ :name => 'content' }= @page.content
  %br/
  %input{ :type => 'submit', :value => 'Save!' }

%form{ :action => "/#{@page.name}", :method => 'post', :onsubmit => 'return confirm("Are you sure you want to delete this page?")' }
  %input{ :type => 'hidden', :name => '_method', :value => 'delete' }
  %input{ :type => 'submit', :value => 'Delete this page!' }

