!!!XML
!!! Strict
%html{html_attrs}

  %head
    %title 
      Qwicky! --
      - unless @title.nil?
        = @title
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "/..stylesheet.css" }
    :javascript
      function changePage() {
          window.location.href = '/' + document.getElementById('location').value;
          return false;
      }

  %body

    #header
      .right
        %a{ :title => 'Go the the main page of this wiki', :href => '/' } Home
        &#8226;
        %a{ :title => 'View what pages this wiki has', :href => '/..sitemap' } Sitemap
        &#8226;
        %a{ :title => 'Adjust settings', :href => '/..settings' } Settings
      - if @editable
        %a.edit{ :title => 'Edit this wiki page', :href => "/#{@page.name}/edit" } Edit
      %form{ :action => '/', :method => 'get', :onsubmit => 'return changePage()' }
        %input#location{ :type => 'text', :name => 'location' }
        %input{ :type => 'submit', :value => 'Go!' }

    #main
      = yield

    #footer
      .copyleft
        (c) 2009 by
        %a{ :title => "Visit karottenreibe's glorious homepage", :href => 'http://karottenreibe.heroku.com'} karottenreibe
        (karottenreibe _at_ gmail _dot_ com)
        %br/
        Licensed under the
        %a{ :title => 'The License of Qwicky', :href => '/..license' } DONT'T PANIC License 1.1
        %br/
        If you want to contribute, visit
        %a{ :title => 'Here you can contribute to the project', :href => 'http://wiki.github.com/karottenreibe/qwicky/' } Qwicky's GitHub page
      - if @editable
        %a.edit{ :title => 'Edit this wiki page', :href => "/#{@page.name}/edit" } Edit

