%form{ :action => "/..settings", :method => 'post', :id => 'settings' }
  %label{ :for => 'settings[homepage]' } Homepage
  %input{ :type => 'text', :name => 'settings[homepage]', :value => @settings['homepage'] }
  %br/
  %label{ :for => 'settings[markup]' } Markup engine
  - @markups.each do |name,markup|
    - if markup.link.nil?
      %input{ :type => 'radio', :name => 'settings[markup]', :checked => (@settings['markup'] == name), :value => name }= markup.description
    - else
      %input{ :type => 'radio', :name => 'settings[markup]', :checked => (@settings['markup'] == name), :value => name }
        %a{ :title => "#{markup.description} homepage", :href => markup.link, :onclick => 'return external(this)' }= markup.description
  %br/
  %input{ :type => 'submit', :value => 'Save!' }

